*,
*:before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff5f5;
  font-family: "oxygen", sans-serif;
}

.container {
  margin: 1em auto;
}

nav {
  height: 30px;
  top: 0;
  background: #e4f6bc;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  padding: 5px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}

nav h3 {
  margin: 0;
}

#posts {
  padding: 10px;
}

form {
  padding: 30px 10px 10px;
}
